# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code settings
.vscode/

# Flutter build outputs
*.apk
*.aab
*.app
*.ipa

# Local signing / machine-specific files
*.jks
*.keystore

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
